[Install]
WantedBy=multi-user.target

[Mount]
Options=defaults
Type=ext4
What=/dev/disk/by-uuid/b234452a-e25f-4f87-a94a-8267c099fda1
Where=/mnt/pve/Daten

[Unit]
Description=Mount storage 'Daten' under /mnt/pve
