[Install]
WantedBy=multi-user.target

[Mount]
Options=defaults
Type=ext4
What=/dev/disk/by-uuid/c729f1ed-9d91-4ab6-b912-c0c9b3f6c912
Where=/mnt/pve/Daten

[Unit]
Description=Mount storage 'Daten' under /mnt/pve
